body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  font-weight: 900;
  font-size: 32px;
  display: flex;
  padding-left: 16px;
  justify-content: flex-start;
  align-items: center;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  font-weight: 600;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  justify-self: stretch;
  flex-grow: 1;
  display: flex;
  align-items: stretch;
}

.cards {
  display: flex;
  flex-flow: row wrap;
  gap: 32px;
  padding: 40px;
  align-items: stretch;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex-shrink: 0;
}

.card {
  box-sizing: border-box;
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
  width: 350px;
  padding: 16px;
  font-weight: 500;
  min-height: 150px;
  flex: 1 1 300px;
}

ul {
  list-style-type: none;
  padding: 16px;
  margin: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

a {
  text-decoration: none;
  font-size: 24px;
  color: #eee;
  font-weight: 550;
}