.header  {
  font-family: monospace;
  background: #ffefd5;
  display: flex;
  flex-wrap: nowrap;
  align-content: stretch;
  padding: 8px;
  justify-content: space-between;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  display: flex;
  border: 0;
  padding-inline-start: 0;
  margin: 8px;
  gap: 8px;
}

a {
  font-size: 22px;
  background: white;
  color: blue;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}

.left-links {
  justify-content: flex-start;
  margin: auto auto auto 0;
}

.right-links {
  justify-content: flex-end;
  margin: auto 0 auto auto;
}