body {
  font-family: sans-serif;
  background: #eee;
  box-sizing: border-box;
  width: 400px;
  border: solid 8px #fff;
}

.title,
.content,
.button-container {
  background: #e3f4ff;
  padding: 8px 4px;
}

.title {
  font-size: 16px;
  margin: 0;
  border-top: solid 12px #fff;
  border-bottom: solid 8px #fff;
}

.content {
  border-bottom: solid 8px #fff;
}

.button-container {
  text-align: center;
}

button {
  display: block;
  background: white;
  border: solid 2px #eee;
  padding: 7px 12px;
  margin: 0 auto;
}
